@charset "UTF-8";

body {
    background-color: rgb(127, 182, 241);
    font: normal 15pt Arial;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

header {
     color: white;
     text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.292);

}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

input#botao {
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.355);
    color: white;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.175);
    background-color: pink;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    border: 0px;
    transition-duration: 0.5s;

}

input#botao:hover {
    background-color: rgb(255, 169, 183);
    font-size: 80%;
    width: 115px;
    height: 35px;
}